@{
    ViewBag.Title = "Registracion";
}

<head>

</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logo2.png" alt="logo"></a>

        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Selecciona tipo de usuario</div>

                    <div class="row text-center">
                        <div class="col-md-4">
                            <a  href="/Home/RegistroViajero">
                                <span class="fa-stack fa-4x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-suitcase-rolling fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading">Viajeros</h4>
                                
                            </a>  <p> Personas que les guste viajar </p>
                        </div>
                        <div class="col-md-4">
                            <a data-toggle="modal" href="#">
                                <span class="fa-stack fa-4x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-map-marked-alt fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading">Guias turisicas</h4>
                                
                            </a><p> Expertos en turismo </p>
                                </div>
                        <div class="col-md-4">
                            <a data-toggle="modal" href="#">
                                <span class="fa-stack fa-4x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-building fa-stack-1x fa-inverse"></i>
                                </span>
                                <h4 class="service-heading">Empresas</h4>

                            </a> <p>Sponsors y Agencias de turismo</p>
                        </div>
                    </div>

                </div>
            </div>
     
    </header>


    <!-- Bootstrap core JavaScript -->
                    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
                    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                    <!-- Plugin JavaScript -->
                    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
                    <!-- Contact form JavaScript -->
                    <script src="~/Content/js/jqBootstrapValidation.js"></script>
                    <script src="~/Content/js/contact_me.js"></script>
                    <!-- Custom scripts for this template -->
                    <script src="~/Content/js/agency.min.js"></script>
</body>



