
@{
    ViewBag.Title = "RegistroGuia";
}

<head>

</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>

        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Guia turistico</div>
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <form method="post" action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario" aria-describedby="emailHelp" placeholder="Ingresa nombre de usuario">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="email" name="email" placeholder="Ingresa Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="matricula" name="matricula" placeholder="Inresa numero de Matricula">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa Password">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-block btn-lg btn-primary" value="REGISTRARME" />
                            </div>
                        </form>
                        <a class="nav-link js-scroll-trigger" href="/Home/Registracion">Ingresa como otro tipo de usuario</a>

                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.min.js"></script>
</body>
