
@using Genericas;
@{
    ViewBag.Title = "Notificaciones";
}

<head>
    <link href="~/Content/css/agencyUsu.css" rel="stylesheet">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/Home/Logout"><img src="~/Content/img/logos/logoblanco.png" alt="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Usuario/IndexViajero">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Home/Buscador">Buscar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">Viajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Usuario/ListaAmigos">Mis amigos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Usuario/Notificaciones"><i class="fa fa-bell"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Home/CerrarSesion"><i class="fa fa-power-off"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <h2 class="section-heading text-uppercase">Notificaciones</h2>

                    <div class="card" style="color:black;">
                        <div class="gaadiex-list" style="padding: 0 22px;">
                            <div class="row">
                                @foreach (AmistadUsuario u in ViewBag.ListaNotificaciones)
                                {

                                    if (Model.UrlFotoPerfil == null)
                                    {
                                        <img class="gaadiex-list-item-img" style="float: left;width: 5%; height: 5%;  margin-top: 20px;
                                        margin-bottom: 8px; margin-right: 60px;  border-radius: 50%; margin-left: 20px;"
                                             src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="List user"> }
                                    else
                                    {
                                        <img class="gaadiex-list-item-img" style="float: left;width: 5%; height: 5%;  margin-top: 20px;
                                        margin-bottom: 8px; margin-right: 60px;  border-radius: 50%; margin-left: 20px;" src="~/Content/img/avatar/@u.Usuario1.UrlFotoPerfil" class="avatar img-circle img-thumbnail" alt=" ">

                                    }

                                    <div class="col-sm-8">
                                        <h3> @u.Usuario1.NombreUsuario te envi&oacute; una invitaci&oacute;n  </h3>
                                        <h5> Estado de la invitacion: @u.Estado </h5>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="#" class="btn btn-primary" style="margin-top:15%;"><i class="fa fa-check"></i></a>
                                        <a href="#" class="btn btn-danger" style="margin-top:15%;"><i class="fa fa-window-close"></i></a>
                                    </div>
                                }
                            </div>

                        </div>

                    </div>

                </div>
            </div>

    </header>


    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>
    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/agency.min.js"></script>
</body>


